@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  color: #131313;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.title {
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
}

@media (max-width: 768px) {
  .title {
    font-size: 34px;
    line-height: 40px;
  }
}

.header {
  padding: 33px 10px 43px 10px;
  border-bottom: 5px solid #131313;
  position: relative;
  z-index: 100;
}

.header__container {
  max-width: 1270px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
}

@media (max-width: 991px) {
  .header__nav {
    position: absolute;
    background-color: #fff;
    z-index: 2;
    top: 112px;
    left: 0;
    width: 100vw;
    padding: 10px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0;
  }
  .header__nav._active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding: 7px 26px;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 991px) {
  .menu__item:hover {
    background-color: #131313;
  }
  .menu__item:hover a {
    color: #fff;
  }
}

@media (max-width: 1199px) {
  .menu__item {
    padding: 7px 13px;
  }
}

.menu__item a {
  color: #131313;
}

@media (max-width: 991px) {
  .menu__item {
    margin: 0 0 10px 0;
  }
  .menu__item:last-child {
    margin: 0;
  }
}

@media (max-width: 991px) {
  .menu {
    display: block;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 991px) {
  body._lock {
    overflow: hidden;
  }
  .header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #131313;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    background-color: #131313;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger._active:before {
    content: "";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger._active:after {
    content: "";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
}

.company {
  padding: 72px 10px 111px 10px;
}

.company__container {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .company__container {
    max-width: 950px;
  }
}

.company__info {
  padding: 0 0 111px 0;
}

.about__info {
  max-width: 750px;
}

.about__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 113%;
  /* or 20px */
  letter-spacing: 0.1em;
  margin: 5px 0 0 0;
}

@media (max-width: 768px) {
  .about__text {
    margin: 10px 0 0 0;
  }
}

.about__slider {
  margin: 74px 0 0 0;
}

.slider-about {
  position: relative;
  width: 100%;
  padding: 0 68px;
  /* Активная точка */
}

@media (max-width: 768px) {
  .slider-about {
    padding: 0 5px;
  }
}

.slider-about .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 0 0;
}

.slider-about .slick-list {
  overflow: hidden;
}

.slider-about .slick-arrow {
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: #131313 url("../images/system_img/logo-up.svg") center no-repeat;
  font-size: 0;
  position: absolute;
  top: 40%;
}

.slider-about .slick-arrow.slick-prev {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 0;
}

.slider-about .slick-arrow.slick-next {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 0;
}

.slider-about .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0 0 0;
}

.slider-about .slick-dots li {
  width: 6px;
  height: 6px;
  background: #c4c4c4;
  margin: 0 5px;
  border-radius: 50%;
}

.slider-about .slick-dots li.slick-active {
  width: 9px;
  height: 9px;
  background: -webkit-linear-gradient(132.2deg, #131313 -5.32%, #484848 106.18%);
  background: -o-linear-gradient(132.2deg, #131313 -5.32%, #484848 106.18%);
  background: linear-gradient(317.8deg, #131313 -5.32%, #484848 106.18%);
}

.slider-about .slick-dots li button {
  font-size: 0;
}

.slide-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 230px;
  margin: 0 15px;
}

@media (max-width: 768px) {
  .slide-about {
    margin: 0 0 0 0;
  }
}

.slide-about__img {
  position: relative;
}

.slide-about__img:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 279px;
  top: 0;
  left: 0;
  background: rgba(19, 19, 19, 0.6);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.slide-about__img img {
  width: 100%;
  height: 279px;
}

@media (max-width: 768px) {
  .slide-about__img {
    display: none;
  }
}

@media (min-width: 768px) {
  .slide-about__body {
    width: 85px;
    height: 279px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#141414), to(#484848));
    background: -webkit-linear-gradient(top, #141414 0%, #484848 100%);
    background: -o-linear-gradient(top, #141414 0%, #484848 100%);
    background: linear-gradient(180deg, #141414 0%, #484848 100%);
  }
  .slide-about__body--l {
    width: 85px;
  }
  .slide-about__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
    white-space: nowrap;
  }
  .slide-about__text {
    display: none;
  }
}

@media (max-width: 768px) {
  .slide-about {
    width: 261px;
  }
  .slide-about__body {
    display: block;
    width: 261px;
    height: 382px;
    background: #fff;
    -webkit-box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.4);
            box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.4);
    padding: 55px 20px 10px 20px;
    position: relative;
    z-index: 2;
    -webkit-transform: translate(-25px, -25px);
        -ms-transform: translate(-25px, -25px);
            transform: translate(-25px, -25px);
  }
  .slide-about__body--l {
    display: none;
  }
  .slide-about__text {
    display: block;
    margin: 27px 0 0 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .slide-about__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    -webkit-writing-mode: rl;
        -ms-writing-mode: rl;
            writing-mode: rl;
  }
  .slide-about__title:after {
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    background-color: #131313;
    margin: 29px 0 0 0;
  }
}

.slide-about.slick-center {
  width: 600px;
  height: 372px;
}

@media (min-width: 768px) {
  .slide-about.slick-center {
    margin: 0 -155px 0 -150px;
  }
}

.slide-about.slick-center .slide-about__img:before {
  height: 350px;
}

.slide-about.slick-center .slide-about__img img {
  height: 350px;
}

.slide-about.slick-center .slide-about__body {
  display: block;
  width: 261px;
  height: 382px;
  background: #fff;
  -webkit-box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.4);
          box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.4);
  padding: 55px 20px 10px 20px;
  position: relative;
  z-index: 2;
  -webkit-transform: translate(-25px, -25px);
      -ms-transform: translate(-25px, -25px);
          transform: translate(-25px, -25px);
}

.slide-about.slick-center .slide-about__body--l {
  display: none;
}

.slide-about.slick-center .slide-about__text {
  display: block;
  margin: 27px 0 0 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.slide-about.slick-center .slide-about__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  -webkit-writing-mode: rl;
      -ms-writing-mode: rl;
          writing-mode: rl;
}

.slide-about.slick-center .slide-about__title:after {
  content: "";
  display: block;
  width: 60%;
  height: 2px;
  background-color: #131313;
  margin: 29px 0 0 0;
}

@media (max-width: 1199px) {
  .slide-about.slick-center {
    width: 450px;
    height: 372px;
  }
}

@media (max-width: 768px) {
  .slide-about.slick-center {
    width: 300px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 30px 0 30px;
  }
}

.slick-track {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.slick-slide {
  -webkit-transition: width 0.6s;
  -o-transition: width 0.6s;
  transition: width 0.6s;
}

.slick-slide .company {
  padding: 72px 10px 111px 10px;
  background: url("../images/system_img/bg-about.png") left bottom no-repeat;
}

.slick-slide .company__container {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .slick-slide .company__container {
    max-width: 950px;
  }
}

.slick-slide .company__info {
  padding: 0 0 111px 0;
}

.slick-slide .about__info {
  max-width: 750px;
}

.slick-slide .about__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 113%;
  /* or 20px */
  letter-spacing: 0.1em;
  margin: 5px 0 0 0;
}

@media (max-width: 768px) {
  .slick-slide .about__text {
    margin: 10px 0 0 0;
  }
}

.slick-slide .about__slider {
  margin: 74px 0 0 0;
}

.slick-slide .slider-about {
  position: relative;
  width: 100%;
  padding: 0 68px;
  /* Активная точка */
}

@media (max-width: 768px) {
  .slick-slide .slider-about {
    padding: 0 5px;
  }
}

.slick-slide .slider-about .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 0 0;
}

.slick-slide .slider-about .slick-list {
  overflow: hidden;
}

.slick-slide .slider-about .slick-arrow {
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: #131313 url("../images/system_img/logo-up.svg") center no-repeat;
  font-size: 0;
  position: absolute;
  top: 40%;
}

.slick-slide .slider-about .slick-arrow.slick-prev {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 0;
}

.slick-slide .slider-about .slick-arrow.slick-next {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 0;
}

.slick-slide .slider-about .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0 0 0;
}

.slick-slide .slider-about .slick-dots li {
  width: 6px;
  height: 6px;
  background: #c4c4c4;
  margin: 0 5px;
  border-radius: 50%;
}

.slick-slide .slider-about .slick-dots li.slick-active {
  width: 9px;
  height: 9px;
  background: -webkit-linear-gradient(132.2deg, #131313 -5.32%, #484848 106.18%);
  background: -o-linear-gradient(132.2deg, #131313 -5.32%, #484848 106.18%);
  background: linear-gradient(317.8deg, #131313 -5.32%, #484848 106.18%);
}

.slick-slide .slider-about .slick-dots li button {
  font-size: 0;
}

.slick-slide .slide-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 230px;
  margin: 0 15px;
}

@media (max-width: 768px) {
  .slick-slide .slide-about {
    margin: 0 0 0 0;
  }
}

.slick-slide .slide-about__img {
  position: relative;
}

.slick-slide .slide-about__img:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 279px;
  top: 0;
  left: 0;
  background: rgba(19, 19, 19, 0.6);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.slick-slide .slide-about__img img {
  width: 100%;
  height: 279px;
}

@media (max-width: 768px) {
  .slick-slide .slide-about__img {
    display: none;
  }
}

@media (min-width: 768px) {
  .slick-slide .slide-about__body {
    width: 85px;
    height: 279px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#141414), to(#484848));
    background: -webkit-linear-gradient(top, #141414 0%, #484848 100%);
    background: -o-linear-gradient(top, #141414 0%, #484848 100%);
    background: linear-gradient(180deg, #141414 0%, #484848 100%);
  }
  .slick-slide .slide-about__body--l {
    width: 85px;
  }
  .slick-slide .slide-about__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
    white-space: nowrap;
  }
  .slick-slide .slide-about__text {
    display: none;
  }
}

@media (max-width: 768px) {
  .slick-slide .slide-about {
    width: 261px;
  }
  .slick-slide .slide-about__body {
    display: block;
    width: 261px;
    height: 382px;
    background: #fff;
    -webkit-box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.4);
            box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.4);
    padding: 55px 20px 10px 20px;
    position: relative;
    z-index: 2;
    -webkit-transform: translate(-25px, -25px);
        -ms-transform: translate(-25px, -25px);
            transform: translate(-25px, -25px);
  }
  .slick-slide .slide-about__body--l {
    display: none;
  }
  .slick-slide .slide-about__text {
    display: block;
    margin: 27px 0 0 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .slick-slide .slide-about__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    -webkit-writing-mode: rl;
        -ms-writing-mode: rl;
            writing-mode: rl;
  }
  .slick-slide .slide-about__title:after {
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    background-color: #131313;
    margin: 29px 0 0 0;
  }
}

.slick-slide .slide-about.slick-center {
  width: 600px;
  height: 372px;
}

@media (min-width: 768px) {
  .slick-slide .slide-about.slick-center {
    margin: 0 -155px 0 -150px;
  }
}

.slick-slide .slide-about.slick-center .slide-about__img:before {
  height: 350px;
}

.slick-slide .slide-about.slick-center .slide-about__img img {
  height: 350px;
}

.slick-slide .slide-about.slick-center .slide-about__body {
  display: block;
  width: 261px;
  height: 382px;
  background: #fff;
  -webkit-box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.4);
          box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.4);
  padding: 55px 20px 10px 20px;
  position: relative;
  z-index: 2;
  -webkit-transform: translate(-25px, -25px);
      -ms-transform: translate(-25px, -25px);
          transform: translate(-25px, -25px);
}

.slick-slide .slide-about.slick-center .slide-about__body--l {
  display: none;
}

.slick-slide .slide-about.slick-center .slide-about__text {
  display: block;
  margin: 27px 0 0 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.slick-slide .slide-about.slick-center .slide-about__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  -webkit-writing-mode: rl;
      -ms-writing-mode: rl;
          writing-mode: rl;
}

.slick-slide .slide-about.slick-center .slide-about__title:after {
  content: "";
  display: block;
  width: 60%;
  height: 2px;
  background-color: #131313;
  margin: 29px 0 0 0;
}

@media (max-width: 1199px) {
  .slick-slide .slide-about.slick-center {
    width: 450px;
    height: 372px;
  }
}

@media (max-width: 768px) {
  .slick-slide .slide-about.slick-center {
    width: 300px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 30px 0 30px;
  }
}

.slick-slide .slick-track {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.slick-slide .slick-slide {
  -webkit-transition: width 0.6s;
  -o-transition: width 0.6s;
  transition: width 0.6s;
}

.slick-slide .functions__title {
  width: 100%;
  text-align: end;
}

.slick-slide .functions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin: 53px 0 0 0;
}

@media (max-width: 991px) {
  .slick-slide .functions__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.slick-slide .functions__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .slick-slide .functions__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.slick-slide .functions__half-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 500px) {
  .slick-slide .functions__half-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.slick-slide .functions__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 500px) {
  .slick-slide .functions__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slick-slide .functions__item {
  position: relative;
  padding: 0 5px 17px 5px;
}

.slick-slide .functions__item:before {
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 17px);
  top: 0;
  left: 5;
  display: block;
  background: rgba(19, 19, 19, 0.6);
}

.slick-slide .functions__item p {
  position: absolute;
  left: 15px;
  bottom: 20px;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .slick-slide .functions__item p {
    font-size: 24px;
    line-height: 28px;
  }
}

.slick-slide .functions__item img {
  width: 100%;
  height: 100%;
}

.slick-slide .functions__item--small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.slick-slide .functions__item--v2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 500px) {
  .slick-slide .functions__item--v2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.slick-slide .functions__item--g2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.functions__title {
  width: 100%;
  text-align: end;
}

.functions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin: 53px 0 0 0;
}

@media (max-width: 991px) {
  .functions__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.functions__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .functions__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.functions__half-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 500px) {
  .functions__half-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.functions__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.functions__item {
  position: relative;
  padding: 0 5px 17px 5px;
}

.functions__item:before {
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 17px);
  top: 0;
  left: 5;
  display: block;
  background: rgba(19, 19, 19, 0.6);
}

.functions__item p {
  position: absolute;
  left: 15px;
  bottom: 20px;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .functions__item p {
    font-size: 24px;
    line-height: 28px;
  }
}

.functions__item img {
  width: 100%;
  height: 100%;
}

.functions__item--small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.functions__item--v2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 500px) {
  .functions__item--v2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.functions__item--g2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.scope {
  padding: 102px 10px 149px 10px;
  background: #131313 url("../images/system_img/bg-scope.png") left 40px no-repeat;
}

@media (max-width: 991px) {
  .scope {
    background: #131313;
    color: #fff;
    padding: 30px 10px 30px 10px;
  }
}

.scope__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199px) {
  .scope__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.scope__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 455px;
          flex: 0 1 455px;
  padding: 75px 0 0 0;
  margin: 0 0 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1199px) {
  .scope__info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 455px;
  }
}

@media (max-width: 991px) {
  .scope__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0;
    padding: 0 0 0 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.scope__title {
  max-width: 455px;
}

@media (max-width: 991px) {
  .scope__title {
    max-width: 100%;
  }
}

.scope__text {
  max-width: 285px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 70px 0 0 0;
  font-size: 24px;
  line-height: 29px;
}

.scope__text span {
  font-weight: bold;
}

@media (max-width: 991px) {
  .scope__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 100%;
    margin: 20px 0 0 0;
  }
}

.scope__btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #131313;
  padding: 10px 20px;
  border: 2px solid #131313;
  border-radius: 49px;
  margin: 80px 0 0 0;
}

.scope__btn span:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  background: url("../images/system_img/scope-btn.svg");
  margin: 0 0 0 7px;
  -webkit-transform: translate(0, 2px);
      -ms-transform: translate(0, 2px);
          transform: translate(0, 2px);
}

@media (max-width: 991px) {
  .scope__btn span:after {
    width: 9px;
    background: url("../images/system_img/btn-mini.svg") center/cover no-repeat;
  }
}

@media (max-width: 1199px) {
  .scope__btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (max-width: 991px) {
  .scope__btn {
    color: #fff;
    border: 2px solid #fff;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 40px 0 0 0;
  }
}

.scope__wrapper {
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1199px) {
  .scope__wrapper {
    margin: 250px 0 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 991px) {
  .scope__wrapper {
    margin: 100px 0 0 0;
  }
}

.scope__items {
  max-width: 420px;
}

.scope__item {
  margin: 0 0 65px 0;
}

.scope__item:last-child {
  margin: 0;
}

.item-scope {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 450px) {
  .item-scope {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
  }
}

.item-scope__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
}

.item-scope__img img {
  max-width: 100%;
}

.item-scope__body {
  margin: 0 0 0 50px;
}

@media (max-width: 450px) {
  .item-scope__body {
    margin: 10px 0 0 0;
    text-align: center;
  }
}

.item-scope__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
}

.item-scope__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 3px 0 0 0;
}

.cases {
  padding: 100px 0 0 0;
}

@media (max-width: 768px) {
  .cases {
    padding: 30px 0 0 0;
  }
}

.cases__container {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .cases__container {
    max-width: 950px;
  }
}

.cases__title {
  width: 100%;
  text-align: center;
}

.cases__slider-logo {
  margin: 90px 0 0 0;
}

@media (max-width: 768px) {
  .cases__slider-logo {
    margin: 20px 0 0 0;
  }
}

.cases__slider-wrapper {
  background-color: #131313;
  width: 100vw;
}

.slider-logo {
  padding: 0 40px;
  position: relative;
}

.slider-logo .slick-list {
  overflow: hidden;
}

.slider-logo .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-logo .slick-slide.slick-current {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  background-color: #131313;
}

.slider-logo .slick-arrow {
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: #131313 url("../images/system_img/logo-up.svg") center no-repeat;
  font-size: 0;
  position: absolute;
  top: 40%;
}

.slider-logo .slick-arrow.slick-prev {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 0;
}

.slider-logo .slick-arrow.slick-next {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 0;
}

@media (max-width: 768px) {
  .slider-logo {
    padding: 0 10px;
  }
}

.slide-logo__img {
  padding: 12px 35px 35px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-logo__img img {
  max-width: 100%;
}

.slide-logo__img--t {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-info {
  max-width: 1250px;
  margin: 0 auto;
  /* Лента слайдов */
}

@media (max-width: 1199px) {
  .slider-info {
    max-width: 950px;
  }
}

.slider-info .slick-list {
  overflow: hidden;
}

.slider-info .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-info {
  padding: 40px 10px 45px 10px;
}

.slide-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

@media (max-width: 991px) {
  .slide-info__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slide-info__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}

@media (max-width: 991px) {
  .slide-info__column {
    margin: 30px 0 0 0;
  }
  .slide-info__column:first-child {
    margin: 0;
  }
}

.slide-info__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.slide-info__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 12px 0 0 0;
}

.slide-info__item {
  width: 100%;
  margin: 18px 0;
}

.slide-info__item:last-child {
  margin: 18px 0 0 0;
}

.slide-info__label {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.slide-info__scale {
  margin: 5px 0 0 0;
  background: #515151;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  position: relative;
}

.slide-info__scale--result {
  height: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.rates {
  padding: 104px 10px 143px 10px;
}

@media (max-width: 991px) {
  .rates {
    padding: 50px 10px 143px 10px;
  }
}

.rates__container {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .rates__container {
    max-width: 950px;
  }
}

.rates__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 991px) {
  .rates__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.rates__text {
  max-width: 500px;
  text-align: end;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1em;
  margin: 7px 0 0 0;
}

@media (max-width: 991px) {
  .rates__text {
    text-align: center;
  }
}

.rates__items {
  max-width: 1200px;
  margin: 114px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199px) {
  .rates__items {
    max-width: 900px;
  }
}

@media (max-width: 991px) {
  .rates__items {
    margin: 60px auto 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .rates__items {
    margin: 50px auto 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.rates__item {
  margin: 0 17.5px;
}

@media (max-width: 991px) {
  .rates__item:last-child {
    margin: 70px 17.5px 0 17.5px;
  }
}

@media (max-width: 768px) {
  .rates__item {
    margin: 70px 17.5px 0 17.5px;
  }
  .rates__item:first-child {
    margin: 0 17.5px 0 17.5px;
  }
}

.item-rates {
  position: relative;
  background: #131313;
  border-radius: 9px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 25px 30px 25px 45px;
}

@media (max-width: 991px) {
  .item-rates {
    max-width: 292px;
  }
}

.item-rates--premium {
  -webkit-box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.35);
          box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.35);
}

@media (min-width: 991px) {
  .item-rates--premium {
    -webkit-transform: translate(0, -25px);
        -ms-transform: translate(0, -25px);
            transform: translate(0, -25px);
  }
}

.item-rates__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item-rates__list {
  margin: 44px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-rates__element {
  margin: 15px 0 0 0;
  padding: 0 0 0 27px;
}

.item-rates__element:first-child {
  margin: 0 0 0 0;
}

.item-rates__element--vector {
  background: url("../images/system_img/Vector-rate.svg") left no-repeat;
}

.item-rates__btn {
  margin: 56px 0 0 0;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 8px 35px 7px 35px;
  border: 2px solid #fff;
  border-radius: 49px;
}

.item-rates__btn span:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  background: url("../images/system_img/btn-mini.svg") center/cover no-repeat;
  margin: 0 0 0 7px;
  -webkit-transform: translate(0, 2px);
      -ms-transform: translate(0, 2px);
          transform: translate(0, 2px);
}

.item-rates__vector--b {
  width: 40px;
  height: 63px;
  position: absolute;
  top: -45px;
  left: 0;
  background: url("../images/system_img/Vector-1.svg") center no-repeat;
}

.item-rates__vector--s {
  width: 46px;
  height: 72px;
  position: absolute;
  top: -55px;
  left: 40px;
  background: url("../images/system_img/Vector-2.svg") center no-repeat;
}

.item-rates__vector--p {
  width: 51px;
  height: 79px;
  position: absolute;
  top: -65px;
  left: 85px;
  background: url("../images/system_img/Vector-3.svg") center no-repeat;
}

.footer {
  background: #131313 url("../images/system_img/bg-vectors.svg") left no-repeat;
}

.footer__container {
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #131313;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 43px 10px 20px 10px;
}

@media (max-width: 1199px) {
  .footer__container {
    max-width: 950px;
  }
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 768px) {
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 768px) {
  .footer__column:last-child {
    margin: 30px 0 0 0;
  }
}

.footer__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

.footer__contacts {
  margin: 15px 0 0 0;
}

.footer__vector-up {
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: url("../images/system_img/logo-up.svg") center no-repeat;
  position: absolute;
  top: 20px;
  right: 10px;
}

.footer__vector-up:hover {
  -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
          transform: translate(0, -5px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__confid {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  max-width: 350px;
  margin: 20px 0 0 0;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 0;
  max-width: 400px;
}

@media (max-width: 1199px) {
  .contacts__item {
    max-width: 300px;
  }
}

.contacts__item:first-child {
  margin: 0;
}

.contacts__item p {
  line-height: 22px;
  color: #ffffff;
}

.contacts__item a {
  line-height: 22px;
  color: #ffffff;
}

.contacts__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  margin: 0 15px 0 0;
}

.contacts__img img {
  max-width: 100%;
}
