.scope {
	padding: 102px 10px 149px 10px;
	background: $dark url("../images/system_img/bg-scope.png") left 40px no-repeat;

	@media (max-width: $sm) {
		background: $dark;
		color: #fff;
		padding: 30px 10px 30px 10px;
	}

	&__container {
		display: flex;

		@media (max-width: $md) {
			flex-direction: column;
		}
	}

	&__info {
		flex: 0 1 455px;
		padding: 75px 0 0 0;
		margin: 0 0 0 200px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		@media (max-width: $md) {
			align-items: flex-start;
			width: 455px;
		}

		@media (max-width: $sm) {
			flex: 1 1 auto;
			margin: 0;
			padding: 0 0 0 0;
			align-items: center;
			width: 100%;
		}
	}

	&__title {
		max-width: 455px;

		@media (max-width: $sm) {
			max-width: 100%;
		}
	}

	&__text {
		max-width: 285px;
		align-self: flex-start;
		margin: 70px 0 0 0;
		font-size: 24px;
		line-height: 29px;
		span {
			font-weight: bold;
		}
		@media (max-width: $sm) {
			align-self: center;
			max-width: 100%;
			margin: 20px 0 0 0;
		}
	}

	&__btn {
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;

		color: #131313;
		padding: 10px 20px;
		border: 2px solid #131313;
		border-radius: 49px;

		margin: 80px 0 0 0;
		transition: 0.3s;

		&:hover {
			transform: scale(1.05) translate(0, -5px);
		}

		span {
			&:after {
				content: "";
				display: inline-block;
				width: 8px;
				height: 14px;
				background: url("../images/system_img/scope-btn.svg");
				margin: 0 0 0 7px;
				transform: translate(0, 2px);

				@media (max-width: $sm) {
					width: 9px;
					background: url("../images/system_img/btn-mini.svg") center / cover no-repeat;
				}
			}
		}

		@media (max-width: $md) {
			align-self: flex-end;
		}
		@media (max-width: $sm) {
			color: #fff;
			border: 2px solid #fff;
			align-self: center;
			margin: 40px 0 0 0;
		}
	}

	&__wrapper {
		color: #fff;
		flex: 0 1 50%;
		display: flex;
		justify-content: flex-end;

		@media (max-width: $md) {
			margin: 250px 0 0 0;
			justify-content: center;
		}

		@media (max-width: $sm) {
			margin: 100px 0 0 0;
		}
	}

	&__items {
		max-width: 420px;
	}

	&__item {
		margin: 0 0 65px 0;

		&:last-child {
			margin: 0;
		}
	}
}

.item-scope {
	display: flex;

	@media (max-width: 450px) {
		flex-direction: column;
		align-items: center;
		padding: 5px;
	}

	&__img {
		flex: 0 0 64px;

		img {
			max-width: 100%;
		}

		@media (max-width: 450px) {
		}
	}

	&__body {
		margin: 0 0 0 50px;
		@media (max-width: 450px) {
			margin: 10px 0 0 0;
			text-align: center;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 30px;
		line-height: 37px;
	}

	&__text {
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
		margin: 3px 0 0 0;
	}
}
