// Обнуление
@import "reset";

// Подключение шрифтов
@import "fonts";

// Миксины

// Адаптивный шрифт
// Указать величину шрифта на минимальном экране и на макетном размере
$maxWidth: 1280;
@mixin adaptive-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// Main color
$dark: #131313;

$lg: 1336px;
$md: 1199px;
$sm: 991px;
$xs: 768px;

// Общие стили
html {
}

body {
	color: $dark;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
}

.container {
}

.wrapper {
	overflow: hidden;
}

// Подключение общих блоков
@import "blocks";

// Header
@import "header";
@import "burger";

@import "company";
@import "scope";
@import "cases";
// Footer
@import "footer";
